.button-primary{
    background-color: #075D24;
    border: none;
    border-radius: 24px;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: bold;
    justify-content: space-between;
    margin: 30px 10px;
    padding: 16px 24px;
}

.button-secondary{
    background-color: #4C3DFF;
    border: 1px solid #4C3DFF;
    border-radius: 24px;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: bold;
    justify-content: space-between;
    margin: 30px 10px;
    padding: 16px 24px;
}