@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
    font-family: 'Aeonik';
    src: local('Aeonik'), url('./components/AeonikFont/Aeonik-Air.otf') format('otf');
    font-weight: normal;
    font-style: normal;
  } */

  